body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    position: relative;
    overflow: hidden; 
}

.container {
    text-align: center;
    margin-top: 20px;
    background: rgb(105, 99, 99);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative; /* Ensure container can be positioned above video */
    z-index: 1; /* Ensure it stays on top of video */
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

p {
    font-size: 18px;
    font-weight: bold;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 5px 0;
    font-size: 16px;
}

.signo {
    margin: 5px;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    cursor: pointer;
    position: absolute; /* Absolute positioning for random movement */
    opacity: 100 !important; /* Mantener los botones completamente visibles */
    z-index: 100; /* Asegura que los botones estén encima del video */
}

.transparent-background {
    opacity: 0; /* Set background to be semi-transparent */
}

.transparent-all {
    opacity: 100; /* Hacer todo semitransparente */
}

#backgroundVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0; /* Inicialmente detrás */
}

#backgroundVideo.front {
    z-index: 1; /* Mover el video al frente cuando sea necesario */
}
